.cart-table {
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

.cart-body {
  margin: 11rem 3% 5% 3%;
  min-height: 100vh;
}

.cart-body .head-3{
  display: inline-block;
}

.cart-content {
  margin: 1rem 0;
}

.delete {
  background: transparent;
  border: 1px solid lightgrey;
  width: 30px;
  height: 30px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 5px;
}

.delete:hover,
.clear:hover {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: white;
  border: 2px solid indianred;
}

#cart-table-wrapper {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
}

#order-notes {
  width: 50%;
}

.order-textarea {
  height: 8rem;
  width: 100%;
}

.Table-row .cart-table-prod-title {
  text-align: left;
  flex-grow: 2
}

.subtotal {
  border-bottom: black solid;
  margin: 1rem 0;
  padding: 0.5rem 0;
}

.subtotal-label {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
}

#purchase-action {
  margin: 1rem 0;
}

#purchase-action-subtotal {
  right: 0;
  float: right;
}

.warning {
  font-weight: 100;
  font-style: italic;
  color: indianred;
  margin: 0.5rem 0;
}


.Table-row {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 2% 1%;
  border-bottom: lightgrey solid 1px;

}

.cart-table-prod-image img {
  width: auto;
max-height: 7rem;
}

.cart-table-prod-quantity #cart-prod-quantity {
  text-align: center;
  width: auto;
}

.container .col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#interactions.container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left {
  float: left;
}

.cart-table-prod-image {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
  height: 100%;
}

.cart-table-prod-image .overlay-blk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cart-table-prod-image .p-style {
  position: absolute;
  bottom: 42%;
  left: 42%;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1000;
  color: white;
}

.cart-table-prod-image a {
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cart-table-prod-image:hover,
.cart-table-prod-image:hover .overlay-blk,
.cart-table-prod-image:hover .p-style {
  visibility: visible;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

div .cart-table-prod-remove{
  flex-grow: 0;
  min-width: 3rem;
}


.Table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #f2f2f2;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;
}
.Table-header {
  display: none;
  border-bottom: lightgrey solid 1px;
  font-weight: 700;
}

.Table-row {
  width: 100%;
}

@media (min-width: 650px) {
  .Table-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;

  }
}
.Table-row-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;

}
.Table-row-item:before {
  content: attr(data-header);
  width: 50%;
  font-weight: 700;
  margin-right: 0.5rem;
  text-align: left;
  font-size: 0.7rem;
}

@media (min-width: 650px) {
  .Table-row-item {
    padding: 0.5em;
    justify-content: center;
    vertical-align: middle;
  }
  .Table-row-item:before {
    content: none;
  }
}
