/* Acordeon styles */

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

/*input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #16a085;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}*/

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #1abc9c;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tab-content p {
  margin: 1em;
}

/* :checked */

input:checked~.tab-content {
  max-height: 10em;
}

/* Icon */

label::after {
  position: absolute;
  right: 0;
  top: 0;
  /*display: block;*/
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

input[type="radio" i] {
    margin-right: 0.5rem;}

/*-------------checkout--------*/

.checkout-content {
  margin: 9rem 3%;
  /*padding-top: 120px;*/
  max-width: 90rem;
}

.checkout-group {
      padding: 1rem 2rem;
      /* max-width: 20rem; */
      width: 100%;
  }

.checkout-subgroup {
  padding-bottom: 3rem;
}

.checkout-headerbox {
  /*margin: 1rem;*/
  /*padding: 0.5rem;*/
  /*text-transform: uppercase;
font-family: 'Raleway', sans-serif;*/
}

.checkout-step {
  border: none;
  margin: 0;
}

.onestepcheckout-summary th {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 8px;
  font-weight: 400;
}

.onestepcheckout-summary .name,
.onestepcheckout-totals .name {
  width: 65%;
  text-align: left;
}

.onestepcheckout-summary .total,
.onestepcheckout-totals .total {
  text-align: right;
}

.summary-info {
  display: block;
}

.grand-total {
  font-weight: 600;
  font-size: 1.3rem;
}

.onestepcheckout-totals tr:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.mandatory {
  font-weight: bold;
}

.card-inputs{
    margin-left: 1.5rem;
}

/*ovveride main style*/

.head-2 {
  /*emulating head-3 style*/
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
      font-weight: 700;
}

.head-3 {
  display: inline-block;
}

@media (max-width:31.25em) {
  #check-left {
    visibility: hidden;
    position: absolute;
  }
}
