/* This is some default styling for the exercise */

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  height: auto;
}

.container>.block {
  flex-grow: 1;
  -ms-flex-basis: 30em;
  flex-basis: 30em;
  padding: 0 1rem;
}

/* c/o http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */

.container .row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.container .row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.container .center {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.container .row {
  -ms-flex-wrap: row wrap;
  -webkit-flex-wrap: row wrap;
  flex-wrap: row wrap;
}

.container .col {
  -ms-flex-wrap: col wrap;
  -webkit-flex-wrap: col wrap;
  flex-wrap: col wrap;
}

@media (min-width:50em) {
  /* spec asked for specifically for the 5th child, although :last-child
  would be more lifted */
  /*.container .block:nth-child(5){
    order: 1;
  }*/
  .container>.block:nth-of-type(odd) {
    border-top: 0;
    border: 2px solid #f7f7f7;
  }
  .feedback {
    max-width: 750px;
    height: auto;
  }
  /*.button-submit-style{
    max-width: 80%;
  }*/
}

/*1024px*/

@media (min-width: 50em) {
  .checkout-group {
    max-width: 30%;
  }
}

footer {
  background-color: #343434;
}

/*others*/

@media (min-width: 775px) {
  .centered-h1 {
    font-size: 3rem;
  }
  .feedback-section h3, .head-3, .centered-h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}

/*screen is smaller than 775px*/
@media (max-width: 850px) {
  .overlay-box, .img-half {
    width: 100%;
    max-width: 100%;
  }

  .our-products .img-half{
    order:2;
  }

  .footer-companyInfo {
    width: 100%;
    text-align: center;
  }

  .button-submit-style {
    max-width: 100%;
  }

  .top-link{
    bottom: -3em;
    right: -2rem;
  }

  #order-notes, #purchase-action{
    width: 100%;
  }

  .order-textarea{
    height: 5rem;
  }

  .square{
    width: 100%;
    height: 4rem;
    transition: all 0.5s ease-in-out;
    margin: 0.5rem 0;

  }

  .square:hover, .square:hover, input[type="radio"]:checked + label span{
    width: 100%;
    height: 4rem;
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;

}

/* some separators to enforce the gestalt */

/*.container .block:nth-of-type(even) {
    border-left: 1px solid lightgrey;
}*/

.container>.block:nth-of-type(odd) {
  border: 2px solid #f7f7f7;
}

/*only allowed in styleguide page where block is nested in article*/
article .container>.block:hover {
  background-color:rgba(247, 247, 247, 0.61);
  transition: all 0.5s ease-in-out;
}
