/* This is some default styling for the exercise */

*, *::before, *::after {
  box-sizing: border-box;
}
.container {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  clear:both;
}
.container .block {
  flex-grow: 1;

  -ms-flex-basis: 30em;
  flex-basis: 30em;
  padding-left:0.75em;

}

@media (min-width: 25em) {
  /* spec asked for specifically for the 5th child, although :last-child
  would be more lifted */
  .container .block:nth-child(5){
    order: 1;
  }

  .feedback{
    max-width: 750px;
    height: auto;
  }

  .button-submit-style{
    max-width: 80%;
  }
}

footer{
  background-color: #343434;
}

/*others*/

.et-hero-tabs, .et-slide {
      /*font-family: 'Playfair Display', serif;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #fff;
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs h1, .et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3, .et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}
.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}
.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease;
}
@media (min-width: 800px) {
  .et-hero-tabs h1, .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3, .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}
