/* ------------- fonts ------------- */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
/* ------------- body layout ------------- */

html {
  height: 100%;
}

body {
  /*padding: 1em;*/
  margin: 0;
}

/* some separators to enforce the gestalt */

/*.container .block:nth-of-type(even) {
    border-left: 1px solid lightgrey;
}*/

.container .block:nth-of-type(odd) {
  padding: 1rem;
  margin: 0;
  /*margin: 1rem;*/
  border: 2px solid #f7f7f7;
}

.container .block:nth-of-type(odd):hover {
  background-color: #f7f7f7;
  transition: all 0.5s ease-in-out;
}

hr {
  margin-top: 2em;
}

code {
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

strong {
  margin: 0.5rem 0;
  display: block;
}

thead {
  color: white;
  background: black;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

td {
  padding: 8px 0 9px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  padding: 0;
}

header {
  z-index: 2;
}

select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 100%;
  margin: 1rem 0;
  padding-left: 0.5rem;
}

img {
  width: 100%;
  height: auto;
}

/* ------------- styling of id section ------------- */

#text, #atoms, #molecules {
  margin: 5%;
}

/* ------------- styling of atoms ------------- */

/* stylized headers */

[class*="head-"] {
  font-family: 'Playfair Display', serif;
  /*font-family: 'Times New Roman', sans-serif;*/
  margin: 2.15% 0 2.15% 0;
  /*text-transform: uppercase;*/
}

.head-1 {
  /*text-transform: uppercase;*/
  letter-spacing: 0.3rem;
  padding-top: 1rem;
  margin: 0;
  font-size: 1.7em;
  border-top: solid black 1px;
  display: inline-block;
  text-transform: uppercase;
  margin: 1rem 0;
}

.head-2 {
  font-size: 1.5em;
  letter-spacing: 0.3rem;
  /*border-top: solid black 1px;*/
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
}

.head-3 {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.inline-h3 {
  /*margin: 0;*/
  display: inline-block;
  color: white;
  letter-spacing: 3px;
  font-weight: 100;
}

[class*="centered"] {
  text-align: center;
display: block;
}

/* https://stackoverflow.com/questions/26290849/why-is-size-of-h1-different-inside-a-section-element */

.parallax-img h1 {
  letter-spacing: 5px;
  font-size: 2em;
  margin-bottom: 0;
}

/* fonting some elements */

.p-style {
  font-family: 'Raleway', sans-serif;
  padding: 0.8em 0;
  margin-bottom: 0;
  line-height: 28px;
  color: grey;
}

figcaption {
  font-family: 'Raleway', sans-serif;
}

.bullet-list {
  font-family: 'Raleway', sans-serif;
}

.numbered-list {
  font-family: 'Raleway', sans-serif;
}

/* entry fields */

.field-label {
  font-family: 'Raleway', sans-serif;
  margin: 0.5rem 0;
  display: block;
  font-weight: 400;
}

/* I adjust the font family to Arial for greater legibility of e.g. numbers */

.field-input {
    width: 100%;
    padding: 0.8150em;
    background: whitesmoke;
    margin-bottom: 1.6rem;
    height: 2.5rem;
    border-radius: 2px;
    border: none;
    transition: all .3s ease-in-out;
}

.field-input:focus {
  outline: none;
  background: white;
  transition: all .3s ease-in-out;
  border: solid 1px lightgrey;
}

[class*="dropdown"] {
  border: 1px solid #d6d6d6;
  border-radius: 0;
  padding: 6px 1.5em 5px 8px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.dropdown-auto {
  width: auto;
}

/* anchor and button styles */

.inline-link, .inline-link:visited {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: grey;
  font-weight: bold;
  transition: all .5s;
  color: #a58b2f;
}

.inline-link:hover {
  color: #816d25;
  transition: all .5s;
  font-weight: bold;
  text-decoration: underline;
}

/*nav*/
.nav-default {
    background-color: rgba(255, 255, 255, 0.86);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 2.5%;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

.nav-title {
  font-family: 'Playfair Display', serif;
  position: relative;
  font-size: 1.2em;
  display: inline;
  float: left;
  font-size: 2rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav-logo-link, .nav-logo-link:visited {
  text-decoration: none;
  color: #333333;
}

.nav-link, .nav-link:visited {
  font-family: 'Raleway', sans-serif;
  /*margin-bottom: 1rem;*/
  font-size: 1.2em;
  text-align: center;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.7;
  transition: all .3s ease-in-out;
  margin-right: 1%;
}

.hidden{
  display: none;
}

#nav-toggle{
  text-align: center;
  background: white;
  color: black;
  transition: all .3s ease-in-out;
}

#nav-toggle .cart-link{
  float: right;
  margin-top: 5px;
margin-right: 3%;
}

#nav-toggle .cart-icon{
    max-width: 30px;
}

.menu{
  color: black;
      padding-left: 50px;
}

#nav-toggle .menu:hover{
  border-bottom: none;
}

#nav-items{
  background: #efefef;
}

.mobile-row{
  color: white;
  padding: 0.7rem 0;
  display: block;
  text-decoration:none;
}

/* maintains default style */

.lang-opt:nth-of-type(odd) {
  font-weight: 600;
  color: #bd8914;
}

.lang-opt:nth-of-type(even) {}

.sub-headers {
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.main-headers {
  font-size: 0.9rem;
  font-weight: bold;
}

.main-headers .nav-link {
  margin-right: 2%;
  letter-spacing: 1px;
}

.nav-link:hover {
  border-bottom: solid 2px #333;
  transition: all .3s ease-in-out;
  opacity: 1;
}

/* slider */

/* slider orientation */

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range */

.slider {
  position: relative;
  width: 100%;
  height: 90%;
  padding-left: 50%;
}

.slider-range-wrapper>input {
  position: absolute;
  transform-origin: left center;
  /* look: I need to bring out the big guns here */
  transform: rotate(0);
}

.slider-range-wrapper.vertical input {
  transform: scale(1, -1) rotate(270deg);
}

.slider-range-wrapper.horizontal input {
  transform: rotate(0);
}

.slider-range-values {
  padding-left: 20em;
}

.slider-range-content {
  padding-left: 20em;
}

.slider-option {}

/* nav should stack in mobile */

@media (max-width: 50em) {
  .nav-link, .nav-title {
    float: none;
    display: inline-block;
  }
  .nav-default {
    text-align: center;
  }
}

/* buttons now */

[class*="button-"] {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding: 0.5rem 1rem;
  border: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  letter-spacing: 2px;
  /*margin: 1rem;*/
  width: 100%;
  height: 3rem;
  transition: background-color 0.5s ease-in-out;
}

.button-submit-style, .button-submit-style:visited  {
  background-color: #4a4a4a;
  color: white;
  padding: 14px 20px 13px;
  font-size: 14px;
  line-height: 1.2;
}

.button-submit-style:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: black;
}

.button-reset-style,.button-reset-style:visited {
  border: 2px solid #e3e3e3;
  background-color: transparent;
  color: #c7c7c7;
    font-size: 14px;
}

.button-reset-style:hover, .button-reset-style:focus {
  transition: all 0.5s ease-in-out;
  color: #515751;
  background-color: #e3e3e3;
  outline: none;
}

/*additional button add on styling*/
.button-drink-size {
  width: auto;
  min-width: 80px;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  height: auto;
}

/* ------------- styling of molecules ------------- */

/* search bar */

div.search-bar {
  padding: 1em;
}

div.search-bar>input[type="text"] {
  width: 50%;
  padding: 0.8150em;
  background: #f6f6f6;
  margin-bottom: 1.6rem;
  height: 3rem;
  border-radius: 2px;
  border: none;
  transition: all .3s ease-in-out;
}

div.search-bar>button[type="button"] {
  width: auto;
  font-size: 1rem;
}

input.optional, input.mandatory {
  visibility: hidden;
  /* taking out of document flow to prevent the hidden element from moving blocks already there */
  position: absolute;
}

input:checked.optional+div {
  background-color: #90a959;
  color: white;
}

input:checked.mandatory+div {
  background-color: #515751;
  color: white;
}

/* render unchecked by default */

input:checked.mandatory {
  checked: unchecked;
}

/*feedback*/

.feedback {
  width: 100%;
}

.feedback-section {
  /*font-family: 'Playfair Display', serif;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
  text-align: center;
  padding: 5rem 1rem;
}

.feedback .feedback-box {
  background-color: white;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
  height: auto;
  padding: 1.5rem;
}

.feedback-message {
  height: 10rem;
}

/* color palette squares */

/* c/o http://codeitdown.com/css-square-rectangle/ for this code */

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16%;
  overflow: hidden;
  margin: 0.5%;
  float: left;
  transition: width 0.5s ease-in-out;
}

.square:hover {
  width: 20%;
  height: auto;
  transition: width 0.5s ease-in-out;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square-content {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
}

.square-content div {
  display: table;
  width: 100%;
  height: 100%;
}

.square-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

/* color palette */
/* standard colors */

.our-black {
  background: #36453b;
}

.our-grey {
  background: #cacaca;
}

.our-yellow {
  background: #a58b2f;
}

/*.our-green {
  background: #90a959;
}

.our-beige {
  background: #f5f9e9;
}*/

.our-white {
  background: #f5f5f5;
}

/* coffee colors */
.our-blond {
  background: rgb(234,194,154);
}

.our-blond-medium {
  background: rgb(221,184,147);
}

.our-medium {
  background: rgb(216,171,125);
}

.our-medium-dark {
  background: rgb(191,143,94);
}

.our-dark {
  background: rgb(160,143,84);
}

/* cream colors */

.our-skim-cream {}
.our-2percent-cream {}
.our-full-cream {}
.our-coffee-cream {}
.our-heavy-cream {}

/* flavorant colors */


.our-none {}

/*---citation--------*/

.citation-title {
  text-align: center;
  text-decoration: underline;
}

/*-------------footer----------*/

footer .nav-title {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.location, .email {
  font-style: italic;
  color: #f5f5f5;
  font-size: 0.9rem;
}

.email {
  padding: 1rem 0;
}

.footer-linkheading {
  text-decoration: none;
  color: #f5f5f5;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
}

/*except first child?*/

.footer-link {
  font-size: 0.8rem;
  color: #f5f5f5;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
}

.footer-link:hover {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  opacity: 0.9;
}

.footer-top {
  padding: 1.5rem;
  /*text-align: center;*/
  justify-content: center;
}

.footer-companyInfo {
  margin: 2% 5%;
}

.footer-listing {
  margin: 2% 5%;
}

.footer-bottom {
  background-color: black;
  padding: 1.5rem;
  text-align: center;
}

.social-list {
  margin: 0.5rem;
}

.social-icon {
  color: white;
  max-width: 18px;
  height: auto;
  opacity: 0.7;
  margin: 0 0.5rem 0 0;
  transition: 0.2s ease-in-out;
}

.fine-print {
  color: #f5f5f5;
  opacity: 0.5;
  font-size: 0.65rem;
}

.social-icon:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.top-link{
  width: 3.25em;
height: 3.25em;
border-radius: 50%;
background: #797979;;
display: inline-block;
text-align: center;
position: relative;
z-index: 4;
bottom: 3.25em;
    padding-top: 1.2rem;
transition: 0.2s ease;
-webkit-transition: 0.2s ease;
color:white;
text-decoration: none;
}

/*-------cart----------*/

.cart-link {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  max-width: 20px;
  height: auto;
  /*justify-content: center;*/
}

/*-------------checkout--------*/

.checkout-content {
  margin: 8rem 3%;
  /*padding-top: 120px;*/
}

.checkout-content .head-3{
  display: inline-block;
  margin-left: 2%;
}

.checkout-group {
  margin: 1rem;
  /*max-width: 20rem;*/
  width: 100%;
}

.checkout-subgroup {
  margin-bottom: 1rem;
}

.circle-num {
  border-radius: 50%;
  display: inline-block;
  height: 22px;
  margin: 0 8px 0 0;
  width: 22px;
  /*background: #000;*/
  color: #fff;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  align-self: center;
}

.checkout-headerbox {
margin-bottom: 1rem;
  padding: 0.5rem;
  /*text-transform: uppercase;
font-family: 'Raleway', sans-serif;*/
}

.checkout-step {
  margin: 0;
}

.onestepcheckout-summary th {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 8px;
  font-weight: 400;
}

.onestepcheckout-summary .name, .onestepcheckout-totals .name {
  width: 65%;
  text-align: left;
}

.onestepcheckout-summary .total, .onestepcheckout-totals .total {
  text-align: right;
}

.summary-info {
  display: block;
}

.grand-total {
  font-weight: 600;
}

.onestepcheckout-totals tr:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

/*styling index*/

.parallax-img {
  position: relative;
  z-index: 12;
  top: 0;
  left: 0;
  height: -webkit-fill-available;
  width: 100%;
  background-image: url(../img/coffee-animated.gif);
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.line {
  width: 50px;
  border-bottom: solid 1px white;
  display: inline-block;
  margin: 0 1rem;
  padding-top: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.parallax-text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  color: white;
  transition: all 0.5s ease-in-out;
  padding: 2% 0 2% 5%;
}

.tab-start, .parallax-text h1, .parallax-text h3 {
  transition: all 0.5s ease-in-out;
}

.tab-start:hover .parallax-text {
  border-top: solid 1px rgba(255, 255, 255, 0.4);
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease-in-out;
}

.parallax-text:hover h1 {
  font-size: 2.5rem;
  transition: all 0.5s ease-in-out;
}

.parallax-text:hover .line {
  transition: all 0.5s ease-in-out;
  transform: translate(20px, 0px);
  width: 100px;
  /*background-color: red;*/
}

.overlay-box {
  position: relative;
  align-items: center;
    padding: 1rem 5% 3rem 5%;
  width: 50%;
}

.img-half {
  height: auto;
  background-size: cover;
  max-width: 50%;
  min-width: 300px;
  opacity: 0.9;
}

.translate-right {
  display: inline-block;
  /*color: white;*/
  transition: all 0.5s ease-in-out;
  /*background-color: rgba(0, 0, 0, 0.47);*/
}

.about-us, .our-products, .our-quality {
  opacity: 0.75;
  transition: all 0.5s ease-in-out;
}

.about-us:hover, .our-products:hover, .our-quality:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
