/* ------------- fonts ------------- */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
/* ------------- body layout ------------- */

body {
  /*padding: 1em;*/
  margin: 0;
}

/* some separators to enforce the gestalt */

/*.container .block:nth-of-type(even) {
    border-left: 1px solid lightgrey;
}*/

.container .block:nth-of-type(odd) {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #f7f7f7;
}

.container .block:nth-of-type(odd):hover {
  background-color: #f7f7f7;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 63em) {
  .container .block:nth-of-type(odd) {
    border-top: 0;
    border: 2px solid #f7f7f7;
  }
}

hr {
  margin-top: 2em;
}

code {
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {}

header {}

/* ------------- styling of id section ------------- */

#text, #atoms, #molecules {
  margin: 5%;
}

/* ------------- styling of atoms ------------- */

/* headers */

[class*="head-"] {
  font-family: 'Playfair Display', serif;
  margin: 2.15% 0 2.15% 0;
  /*text-transform: uppercase;*/
}

.head-2 {
  font-size: 1.5em;
  /*text-transform: uppercase;*/
}

.head-3 {
  font-size: 1.3em;
  /*text-transform: uppercase;*/
}

/* get around section styling h1 */

/* https://stackoverflow.com/questions/26290849/why-is-size-of-h1-different-inside-a-section-element */

section h1 {
  font-size: 2em;
}

/* fonting some elements */

.p-style {
  font-family: 'Raleway', sans-serif;
}

figcaption {
  font-family: 'Raleway', sans-serif;
}

.bullet-list {
  font-family: 'Raleway', sans-serif;
}

.numbered-list {
  font-family: 'Raleway', sans-serif;
}

/* entry fields */

.field-label {
  font-family: 'Raleway', sans-serif;
}

/* I adjust the font family to Arial for greater legibility of e.g. numbers */

.field-input {
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  border: none;
  border-bottom: solid 2px #515751;
  padding: 1rem 1rem 0.25rem 1rem;
  width: 50%;
  transition: all 0.5s ease-in-out;
  letter-spacing: 2px;
}

.field-input:focus {
  outline: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* anchor and button styles */

.inline-link {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: grey;
  font-weight: bold;
}

.inline-link:link {
  color: #5a3819;
}

.inline-link:visited {
  color: #3a5918;
}

.inline-link:hover {
  color: #59181a;
  font-weight: bold;
  text-decoration: underline;
}

.nav-default {
  background-color: #fff;
box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 2.5%;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}

.nav-title {
  font-family: 'Playfair Display', serif;
  position: relative;
  /*color: white;*/
  font-size: 1.2em;
  text-align: center;
  display: inline;
  float: left;
  font-size: 2rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav-logo-link, .nav-logo-link:visited {
  text-decoration: none;
  color: #333333;
}

.nav-link, .nav-link:visited {
  font-family: margin-bottom: 1rem;
  'Raleway', sans-serif;
  font-size: 1.2em;
  text-align: center;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.7;
  transition: all .3s ease-in-out;
  margin-right: 1%;
}

.sub-headers {
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.main-headers {
  font-size: 0.9rem;
  font-weight: bold;
}

.main-headers .nav-link {
  margin-right: 2%;
  letter-spacing: 1px;
}

.nav-link:hover {
  border-bottom: solid 2px #333;
  transition: all .3s ease-in-out;
  opacity: 1;
}

/* nav should stack in mobile */

@media (max-width: 63em) {
  .nav-link, .nav-title {
    float: none;
    display: inline-block;
  }
  .nav-default {
    text-align: center;
  }
}

/* buttons now */

[class*="button-"] {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding: 0.5rem 1rem;
  border: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  letter-spacing: 2px;
  /*margin: 1rem;*/
  width: 100%;
  height: 3rem;
  transition: background-color 0.5s ease-in-out;

}

.button-submit-style {
  background-color: #4a4a4a;
  color: white;
  /*border: solid 1px white;*/
}

.button-submit-style:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: black;
}

/* as an element meant to be button-like we'll leave the visited behavior as per the normal look */

.button-submit-style:visited {
  background-color: #4a4a4a;
  color: white;
  /*border: solid 1px white;*/
}

.button-reset-style {
  border: 2px solid #e3e3e3;
  background-color: transparent;
  color: #c7c7c7;
}

.button-reset-style:hover {
  transition: all 0.5s ease-in-out;
  color: #515751;
  background-color: #e3e3e3;
}

/* as an element meant to be button-like we'll leave the visited behavior as per the normal look */

.button-reset-style:visited {
  border: 2px solid #e3e3e3;
  background-color: transparent;
  color: #c7c7c7;
}

/* ------------- styling of molecules ------------- */

/* product listing element */

.product-listing {
  /*height:100%;
    width:100%;*/
  flex: 1;
  padding: 20px;
  position: relative;
  /*background-color: #515751;*/
  margin: 2rem;
  overflow: hidden;
  border: solid 1px #efefef;
  text-align: center;
  transition: all 0.5s;
}

.product-listing:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.product-image {
  width: 50%;
  border: 1px solid LightGrey;
}

.product-content {}

.product-content>* {
  margin: 0.4em;
}

/* product choice element */
/* very similar to product listing but with some changes */

.product-choice {
  /*height:100%;
    width:100%;*/
  flex: 1;
  padding: 20px;
  position: relative;
  background-color: #f5f9e9;
  margin: 2rem;
  overflow: hidden;
  border: solid 1px #efefef;
  text-align: center;
  transition: all 0.5s;
}

.product-choice:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}


input.optional, input.mandatory {
    visibility:hidden;
    /* taking out of document flow to prevent the hidden element from moving blocks already there */
    position:absolute;
}

input:checked.optional + div {
    background-color: #90a959;
    color: white;
}

input:checked.mandatory + div {
    background-color:  #515751;
    color: white;
}

/* render unchecked by default */
input:checked.mandatory {
    checked:unchecked;
}

/*feedback*/

.feedback {
  width: 100%;
}

.feedback .feedback-box {
  background-color: white;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
  height: auto;
  padding: 1.5rem;
}

.feedback-inputs {
  width: 100%;
  padding: 0.8125em;
  background: #f6f6f6;
  margin-bottom: 1.6rem;
  height: 3rem;
  border-radius: 2px;
  border: none;
  transition: all .3s ease-in-out;
}

.feedback-inputs:focus {
  outline: none;
  background: white;
  transition: all .3s ease-in-out;
  border: solid 1px lightgrey;
  /*box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);*/
}

.feedback-message {
  height: 10rem;
}

/* color palette */

/* c/o http://codeitdown.com/css-square-rectangle/ for this code */

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16%;
  overflow: hidden;
  margin: 0.5%;
  float: left;
  transition: width 0.5s ease-in-out;
}

.square:hover {
  width: 20%;
  height: auto;
  transition: width 0.5s ease-in-out;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square-content {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
}

.square-content div {
  display: table;
  width: 100%;
  height: 100%;
}

.square-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.our-black {
  background: #36453b;
}

.our-grey {
  background: #515751;
}

.our-brown {
  background: #8a6552;
}

.our-green {
  background: #90a959;
}

.our-beige {
  background: #f5f9e9;
}

.our-white {
  background: #f5f5f5;
}

.citation-title {
  text-align: center;
  text-decoration: underline;
}

/*footer*/

footer .nav-title {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.location, .email {
  font-style: italic;
  color: #f5f5f5;
  font-size: 0.9rem;
}

.email {
  padding: 1rem 0;
}

.footer-linkheading {
  text-decoration: none;
  color: #f5f5f5;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
}

/*except first child?*/

.footer-link {
  font-size: 0.8rem;
  color: #f5f5f5;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
}

.footer-link:hover {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  opacity: 0.9;
}

.footer-top {
  padding: 1.5rem;
  text-align: center;
  justify-content: center;
}

.footer-companyInfo {
  margin: 2% 5%;
}

.footer-listing {
  margin: 2% 5%;
}

.footer-bottom {
  background-color: black;
  padding: 1.5rem;
  text-align: center;
}

.social-list {
  margin: 0.5rem;
}

.social-icon {
  color: white;
  max-width: 18px;
  height: auto;
  opacity: 0.7;
  margin: 0 0.5rem 0 0;
  transition: 0.2s ease-in-out;

}

.fine-print{
      color: #f5f5f5;
      opacity: 0.5;
      font-size: 0.65rem;
.social-icon:hover{
  opacity: 1;
  transition: 0.2s ease-in-out;

}
