img {
  height:100%;
  width:100%;
}

#checkout.button-submit-style {
  max-width: 100%;
  align-items: center;
  margin: 0.2em;
}

@media (max-width: 63em) {
  footer {
    display: none;
  }
  html {
    height:100%;
  }
  body {
    height: 100%;
  }
  .container {
    height: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  input {
    height:100%;
  }
  #somm-left {
    -webkit-flex: 7 0 0;
    flex: 9 0 0;
  }
  #somm-right {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }
}
