/* ------------- fonts ------------- */


@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
img {
    size: (max-width: 600px) 200px, 50vw;
}

/* ------------- body layout ------------- */

body {
    padding: 1em;
}

/* some separators to enforce the gestalt */
.container .block:nth-of-type(even) {
    border-left: 1px solid lightgrey;
}
.container .block:nth-of-type(odd) {
    padding-top: 1em;
    padding-bottom: 1em;
    border-right: 1px solid lightgrey;
    border-top: 2px solid lightgrey;

}
.container .block:nth-of-type(odd):hover {
    background-color: #eee;
}

@media (max-width: 50em) {
    .container .block:nth-of-type(odd) {
	border-top: 0;
	border-bottom: 2px solid lightgrey;
    }
}


hr {
    margin-top:2em;
}

code {
    font-size: 1.2em;
}

/* ------------- styling of atoms ------------- */

/* headers */
[class*="head-"] {
    font-family: 'Playfair Display', serif;
    margin:2.15% 0 2.15% 0;
}

.head-2 {
    font-size: 1.5em;
}

.head-3 {
    font-size: 1.3em;
}

/* get around section styling h1 */
/* https://stackoverflow.com/questions/26290849/why-is-size-of-h1-different-inside-a-section-element */
section h1 {
    font-size: 2em;
}

/* fonting some elements */

.p-style {
    font-family: 'Raleway', sans-serif;
}

figcaption {
    font-family: 'Raleway', sans-serif;
}

.bullet-list {
    font-family: 'Raleway', sans-serif;
}

.numbered-list {
    font-family: 'Raleway', sans-serif;
}

/* entry fields */

.field-label  {
    font-family: 'Raleway', sans-serif;
}

/* I adjust the font family to Arial for greater legibility of e.g. numbers */
.field-input {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
}

/* anchor and button styles */

.inline-link {
    font-family: 'Raleway', sans-serif;
}
.inline-link:link {
    color:#5a3819;
}
.inline-link:visited {
    color:#3a5918;
}
.inline-link:hover {
    color:#59181a;
    font-weight:bold;
}

.main-nav {
    background-color:#222;
    text-align:center;
    padding: 1%;
}
.nav-title {
    font-family: 'Playfair Display', serif;
    position: relative;
    color:white;
    font-size: 1.2em;
    text-align:center;
    display:inline;
    background-color:#222;
    float:left;
}
.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    text-align:center;
    display:inline;
    padding: 1%;
    margin: 0 3% 0 3%;
}

.nav-link:link {
    color:#ddd;
    background-color:#222;
}

/* as an element meant to be button-like we'll leave the visited behavior as per the normal look */
.nav-link:visited {
    color:#ddd;
    background-color:#222;
}


.nav-link:hover {
    color:#222;
    background-color:#ddd;
}

/* nav should stack in mobile */
@media (max-width: 50em) {
    .nav-link, .nav-title {
	float:none;
	display:block;
    }
}


/* buttons now */

[class*="button-"] {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    padding:10px;
    border:none;
}

.button-submit-style {
    background-color: rgb(163,220,123);
}
.button-submit-style:hover {
    background-color: #7adb82;
}
/* as an element meant to be button-like we'll leave the visited behavior as per the normal look */
.button-submit-style:visited {
    background-color: rgb(238,181,129);
}

.button-reset-style {
    background-color: rgb(238,181,129);
}
.button-reset-style:hover {
    background-color:#ed8081;
}
/* as an element meant to be button-like we'll leave the visited behavior as per the normal look */
.button-reset-style:visited {
    background-color: rgb(238,181,129);
}

/* ------------- styling of molecules ------------- */

/* product listing element */

.product-listing {
    height:100%;
    width:100%;
}

.product-listing-image {
    width:50%;
    border: 1px solid LightGrey;
}

.product-listing-content {
}

.product-listing-content > * {
    margin: 0.4em;
}

/* color palette */
/* c/o http://codeitdown.com/css-square-rectangle/ for this code */
.square {
    position: relative;
    width: 16%;
    overflow: hidden;
    margin: 0.5%;
    float:left;
}
.square:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.our-green {
    background: rgb(163,220,123);
}

.our-red {
    background: rgb(90,56,25);
}

.our-yellow {
    background: rgb(245,238,149);
}

.our-orange {
    background: rgb(238,181,129);
}

.our-grey {
    background: rgb(77,83,77);
}

.citation-title {
    text-align: center;
    text-decoration: underline;
}
